version: '3.8'

services:
  backup:
    build: 
      context: .
      dockerfile: ./docker/Dockerfile
    image: aws-s3-backup:latest
    container_name: aws-backup-container

    environment:
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_REGION
    volumes:
      # Mount backup directory
      - ./backups:/data/source_files
      # Mount logs directory
      - ./logs:/app/logs
      # Pass bucket name as argument
    command: ["terraform-backup-test-mjay-sys"]

